@import "tailwindcss";

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0.8;
  }
  50% {
    top: 98%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0.8;
  }
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-scan {
  animation: scan 3s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spinSlow 12s linear infinite;
}
